.idea
*.iml
.settings
target
.project
.classpath
.gitkeep

# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err

# temp file for git conflict merging
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html
*.dump
out
dist

# OS or Editor folders
.DS_Store
._*
.cache
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db

# Folders to ignore
.hg
.svn
.CVS
node_modules/
jscoverage_lib/

src/main/resources/spring-config.properties
src/main/webapp/rsrc/
src/main/webapp/WEB-INF/ftl/rsrc/

webpack-assets.json

