.modalWrapper {
  height: 100%;
  padding: 200px 30px;
  color: #333e45;
  background: #fff;
}

span {
  margin: 30px;
  display: block;
}

button {
  width: 380px;
  height: 60px;
  border-radius: 20px;
  font-size: 28px;
  color: #333e45;
  margin: 200px auto;
}